body {
    font-family: 'Cabin', sans-serif;
}
p {
    font-family: 'Asap', sans-serif;
    font-size: 120%;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    text-align: left;
    background: white;
    margin-bottom: 10px;
    border: none;
}
ul.nav a {
    color: #00aa44 !important;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
ul.nav a:hover {
    color: #008822 !important;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    text-decoration: none;
}
ul.nav a:focus {
    color: #00aa44;
}
ul.nav a:active {
    color: #00e676;
}
.btn {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.btn:hover {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background-color: #ccc;
}
.btn:focus {
    outline: none;
}
.btn:active:focus {
    outline: none;
}
.btn-secondary:focus {
    outline: none;
}
.btn-primary {
    padding: 12px;
    font-size: 150%;
    background: white;
    color: #00aa44;
    border: 4px solid #00aa44;
    border-radius: 12px;

}
.btn-primary:hover {
    background: #00aa44;
    border: 4px solid #00aa44;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.btn-primary:active {
    box-shadow:none;
    background: #009933;
    border: 4px solid #009933;
}
.btn-primary:focus {
    background: #009933;
    border: 4px solid #009933;
}
.btn-success {
    background: white;
    color: #00aa44;
    border: 2px solid #00aa44;
    border-radius: 12px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.btn-success:hover {
    background: #00aa44;
    border: 2px solid #00aa44;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.btn-success:active {
    background: #29ef19;
    border: 2px solid #00aa44;
}
a {
    color: #00aa44;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    text-decoration: none;
}
a:hover {
    color: #008822;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    text-decoration: none;
}
a:focus {
    color: #00aa44;
}
a:active {
    color: #00e676;
}
.spacer {
    height: 15vh;
}
.title {
    margin: 0 auto;
}
.formp {
    margin: 8px;
    height: 36px;
    padding: 4px;
}
input {
    padding-left: 5px;
    padding-right: 5px;
    margin: 4px;
    border: 2px solid #939598;
    border-radius: 2px;
    font-family: 'Asap', sans-serif;
}
.form-control {
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #939598;
    border-radius: 2px;
}
input:focus, .form-control:focus, select:focus, textarea:focus {
    outline-size: 2px;
    outline-color: #00E676;
    outline-color: #00cd6a;
    border: 2px solid #00cd6a;
}
.news {
    opacity: 0.5;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.news:hover {
    opacity: 0.9;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
.boxnumber {
        float: left;
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #00e676;
        color: white;
        font-style: bold;
        border-radius: 8px;
       /* border: 4px solid #00e676; */
       margin-right: 20px;

    }
    .boxdescription{
       /* display: inline-block; */
       height: 30px;
       line-height: 30px;
    }
    .boxdescription:focus {
        outline: none;
        border: 1px solid #00e676;
    }
    .boxcontainer {
        margin: 4px;
        line-height: 30px;
        margin-bottom: 16px;
    }
